<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/css/bootstrap.custom.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/bootstrap.custom.min.css" />
    </environment>

    <link rel="stylesheet" href="~/css/site.css" />

    @*<base href="/">*@
</head>
<body class="bg-light">
    <header>
        <nav class="navbar navbar-dark bg-primary navbar-expand-md justify-content-center border-bottom box-shadow mb-3">
            <a href="/" class="navbar-brand d-flex w-50 mr-auto">Benjamin Holmes</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse w-100" id="collapsingNavbar">
                <ul class="nav navbar-nav ml-auto justify-content-end">
                    <li class="nav-item active">
                        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index"><i class="fas fa-home"></i> Home</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav justify-content-end">
                    <li class="nav-item active">
                        <a class="nav-link text-light" asp-area="" asp-controller="Personal" asp-action="Index"><i class="far fa-address-card"></i> About</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav justify-content-end">
                    <li class="nav-item active">
                        <a class="nav-link text-light" asp-area="" asp-controller="Personal" asp-action="Resume"><i class="far fa-file"></i> Resume</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav justify-content-end">
                    <li class="nav-item active">
                        <a class="nav-link text-light" asp-area="" asp-controller="Personal" asp-action="Contact"><i class="far fa-envelope"></i> Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - Benjamin Holmes
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    </environment>

    <script src="https://kit.fontawesome.com/335d5aeb83.js" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
