@{
    ViewData["Title"] = "Benjamin Holmes";
}
<div class="background"></div>
    <div class="row justify-content-center mb-4">
        <div class="card-content mx-auto w-75">
            <div class="card-columns">
                <div class="card profile-card-1 bg-primary">
                    <img class="background" src="~/images/roberto-catarinicchia-6R8NHs5A27E-unsplash_profile.jpg" alt="">
                    <img src="~/images/me.png" alt="profile-image" class="profile" />
                    <a class="stretched-link" asp-area="" asp-controller="Personal" asp-action="Index"></a>
                    <div class="card-content">
                        <h2>
                            Benjamin Holmes<small>Solutions Engineering Manager<br />Lead Developer</small>
                        </h2>
                        <div class="icon-block my-2">
                            <a href="https://www.linkedin.com/in/bholmes111/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                            <a href="https://github.com/bholmes111" target="_blank"><i class="fab fa-github"></i></a>
                        </div>
                    </div>
                </div>
                <div class="card border-0">
                    <a class="stretched-link" asp-area="" asp-controller="Personal" asp-action="Resume"></a>
                    <img class="card-img" src="~/images/resume_sm.jpg" alt="Resume">
                </div>
                <div class="card border-0">
                    <img class="background rounded w-100" src="~/images/gray-background.png" alt="Card image">
                    <div class="card-body card-img-overlay m-0 p-0 text-center">
                        <a class="stretched-link" asp-area="" asp-controller="Personal" asp-action="Contact"></a>
                        <h5 class="card-header rounded-top text-primary font border-bottom-0 p-2">Contact Me</h5>
                        <img class="card-img w-50" src="~/images/email-icon.png" alt="Contact Me">
                    </div>
                </div>
            </div>
        </div>
    </div>