
@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid d-flex vh-85 flex-column border rounded mx-auto w-sm-100 w-md-75 w-lg-75 w-xl-75 justify-content-center bg-about mt-2 mb-4" style="max-width:1000px">
    <div class="row flex-fill d-flex">
        <div class="about col-xl-4 col-lg-4 col-md-4 col-sm-12 rounded-left text-center bg-primary mb-0 py-3">
            <h2 class="text-gray pb-2">About Me</h2>
            <img class="img-fluid" src="~/images/me_lg.png">
            <div class="icon-block my-4">
                <a href="https://www.linkedin.com/in/bholmes111/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                <a href="https://github.com/bholmes111" target="_blank"><i class="fab fa-github"></i></a>
            </div>
            <p class="text-gray">Manager Solutions Engineering</p>
            <hr class="bg-light" />
            <p class="text-gray">Lead Solutions Technologist </p>
            <hr class="bg-light" />
            <p class="text-gray">AVP Tech Manager Systems Dev</p>
            <hr class="bg-light" />
            <p class="text-gray">Network Manager</p>
            <hr class="bg-light" />
            <p class="text-gray">Programmer Analyst II CS</p>
            <hr class="bg-light" />
            <p class="text-gray">Systems Analyst</p>
        </div>
        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 desc pt-3">
            <div class="row">
                <div class="col text-about">
                    <p>
                        I am a technical leader experienced in creating software and systems solutions.
                        I enjoy using technology to create solutions to business problems.
                        I am comfortable working in Agile and waterfall environments either with a team or individually.
                        I love the excitement and feeling of accomplishment that comes from successfully releasing a project.
                        Throughout my career I have been exposed to new languages, processes, frameworks, patterns, and platforms.
                        I have embraced any opportunity to add new skills and understanding to my portfolio.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col text-about">
                    <p>
                        I have provided solutions across multiple computer disciplines. Many times those responsibilities overlapped.
                        My career began at a smaller firm acquired by OppenheimerFunds, and our technology department did not have the
                        finer delineation of roles that a larger firm normally would. As a result, I have experience with 
                        application development, website creation and administration, database development and administration, 
                        Active Directory and Windows server administration, and network configuration.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col text-about">
                    <p>
                        After the firm became more tightly integrated into our parent organization,
                        my responsibilities shifted more exclusively towards a lead developer role.
                        I began working with different teams within the organization and was consistently exposed to new technologies in the process.
                        My most recent role is as manager of our client reporting team where
                        I have been a hands-on manager for the last 3+ years of my career. My responsibilities include budget forecasting,
                        demand prioritization, project estimation, and employee evaluations.
                        I have been guiding the team while continuing as a lead developer to provide solutions ranging
                        from complex individual contributions to participating in group projects.
                        As a manager, I have enjoyed the opportunity to help my team find ways to grow their own skillsets
                        and position them for their future success.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
