
@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid d-flex vh-85 flex-column border rounded mx-auto w-sm-100 w-md-90 w-lg-90 w-xl-90 justify-content-center bg-about mt-2 mb-4">
    <div class="row flex-fill d-flex">
        <div class="about col-xl-4 col-lg-4 col-md-4 col-sm-12 rounded-left text-center bg-primary mb-0 py-3">
            <h2 class="text-gray pb-2">About Me</h2>
            <img class="img-fluid" src="~/images/me_lg.png">
            <div class="icon-block my-4">
                <a href="https://www.linkedin.com/in/bholmes111/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                <a href="https://github.com/bholmes111" target="_blank"><i class="fab fa-github"></i></a>
            </div>
            <p class="text-gray">Manager Solutions Engineering</p>
            <hr class="bg-light" />
            <p class="text-gray">Lead Solutions Technologist </p>
            <hr class="bg-light" />
            <p class="text-gray">AVP Tech Manager Systems Dev</p>
            <hr class="bg-light" />
            <p class="text-gray">Network Manager</p>
            <hr class="bg-light" />
            <p class="text-gray">Programmer Analyst II CS</p>
            <hr class="bg-light" />
            <p class="text-gray">Systems Analyst</p>
        </div>
        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 pt-3">
            <div class="row">
                <div class="col text-about">
                    <p>
                        I'm a technical leader experienced in creating software and systems solutions
                        who enjoys using technology to create solutions to business problems.
                        I am comfortable working in Agile and waterfall environments either with a team or individually.
                        Throughout my career I have been exposed to new languages, processes, frameworks, patterns, and platforms.
                        I embrace any opportunity to add new skills and understanding to my portfolio.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col text-about">
                    <p>
                        I have provided solutions across multiple computer disciplines. Many times those responsibilities overlapped.
                        My career began at a smaller firm, Trinity Investment Management, which was acquired by OppenheimerFunds.
                        Our team did not have the finer delineation of roles that a larger firm normally would.
                        As a result, I have significant experience with application development, website creation and administration,
                        database development and administration, Active Directory and Windows server administration, and network configuration.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col text-about">
                    <p>
                        Over time, Trinity became more tightly integrated into our parent organization, and
                        my responsibilities shifted more exclusively towards a lead application and database developer role.
                        I began working with different teams within the organization, and was frequently exposed to new technologies
                        in the process. My most recent role is as manager of our client reporting team where
                        I have been a hands-on manager for the last 3+ years of my career. My responsibilities grew to include
                        budget forecasting, demand prioritization, project estimation, and employee evaluations.
                        As a manager, I have enjoyed the opportunity to help my team find ways to grow their own skillsets
                        and position them for their future success.
                        I have been guiding the team while continuing as a lead developer to provide solutions ranging
                        from complex individual contributions to participating in group projects.
                    </p>
                </div>
            </div>
            <div class="row border-top">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 pt-3 bg-about">
                    <h2 class="text-primary pb-2 text-center">Skills</h2>
                    <div class="progress mb-3">
                        <div class="progress-bar bg-primary w-100">C# .NET</div>
                    </div>
                    <div class="progress mb-3">
                        <div class="progress-bar bg-info w-100">MS SQL</div>
                    </div>
                    <div class="progress mb-3">
                        <div class="progress-bar bg-success w-90">CSS</div>
                    </div>
                    <div class="progress mb-3">
                        <div class="progress-bar bg-success w-90">HTML</div>
                    </div>
                    <div class="progress mb-3">
                        <div class="progress-bar bg-primary w-90">Java</div>
                    </div>
                    <div class="progress mb-3">
                        <div class="progress-bar bg-success w-90">JavaScript</div>
                    </div>
                    <div class="progress mb-3">
                        <div class="progress-bar bg-info w-90">Oracle</div>
                    </div>
                    <div class="progress mb-3">
                        <div class="progress-bar bg-primary w-90">VB.NET</div>
                    </div>
                    <div class="progress mb-3">
                        <div class="progress-bar bg-success w-75">ASP / ASP.NET</div>
                    </div>
                    <div class="progress mb-3">
                        <div class="progress-bar bg-primary w-75">C++</div>
                    </div>
                    <div class="progress mb-3">
                        <div class="progress-bar bg-primary w-75">VisualForce</div>
                    </div>
                    <div class="progress mb-3">
                        <div class="progress-bar bg-success w-50">Ajax</div>
                    </div>
                    <div class="progress mb-3">
                        <div class="progress-bar bg-success w-50">Angular</div>
                    </div>
                    <div class="progress mb-3">
                        <div class="progress-bar bg-success w-50">jQuery</div>
                    </div>
                    <div class="progress mb-3">
                        <div class="progress-bar bg-info w-50">MongoDB</div>
                    </div>
                    
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 pt-3 border-left bg-about">
                    <h2 class="text-primary pb-2 text-center">Software / Systems</h2>
                    <div class="progress mb-3">
                        <div class="progress-bar bg-primary w-100">Bitbucket / Git / SVN</div>
                    </div>
                    <div class="progress mb-3">
                        <div class="progress-bar bg-primary w-100">Confluence</div>
                    </div>
                    <div class="progress mb-3">
                        <div class="progress-bar bg-primary w-100">Jira</div>
                    </div>
                    <div class="progress mb-3">
                        <div class="progress-bar bg-primary w-100">SqlDbx</div>
                    </div>
                    <div class="progress mb-3">
                        <div class="progress-bar bg-primary w-100">SSMS</div>
                    </div>
                    <div class="progress mb-3">
                        <div class="progress-bar bg-primary w-100">Visual Studio</div>
                    </div>
                    <div class="progress mb-3">
                        <div class="progress-bar bg-primary w-100">Visual Studio Code</div>
                    </div>
                    <div class="progress mb-3">
                        <div class="progress-bar bg-info w-90">Active Directory</div>
                    </div>
                    <div class="progress mb-3">
                        <div class="progress-bar bg-info w-90">IIS</div>
                    </div>
                    <div class="progress mb-3">
                        <div class="progress-bar bg-primary w-90">Splunk</div>
                    </div>
                    <div class="progress mb-3">
                        <div class="progress-bar bg-info w-90">SQL Server</div>
                    </div>
                    <div class="progress mb-3">
                        <div class="progress-bar bg-info w-90">Windows Server</div>
                    </div>
                    <div class="progress mb-3">
                        <div class="progress-bar bg-primary w-75">Denodo</div>
                    </div>
                    <div class="progress mb-3">
                        <div class="progress-bar bg-primary w-75">Grails</div>
                    </div>
                    <div class="progress mb-3">
                        <div class="progress-bar bg-primary w-75">Jenkins</div>
                    </div>
                    <div class="progress mb-3">
                        <div class="progress-bar bg-primary w-75">SalesForce</div>
                    </div>
                    <div class="progress mb-3">
                        <div class="progress-bar bg-primary w-75">Spring Tool Suite</div>
                    </div>
                    <div class="progress mb-3">
                        <div class="progress-bar bg-info w-50">Apache</div>
                    </div>
                    <div class="progress mb-3">
                        <div class="progress-bar bg-info w-50">Unix</div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>