
@{
    ViewData["Title"] = "Benjamin Holmes - Resume";
}

<div class="container-fluid border-0 mx-auto w-sm-100 w-md-75 w-lg-75 w-xl-75">
    <a class="btn btn-sm btn-secondary" href="~/documents/Ben_Holmes_resume.pdf" target="_blank">Download PDF</a>
</div>
<div class="container-fluid border mx-auto w-sm-100 w-md-75 w-lg-75 w-xl-75 justify-content-center bg-white mt-2 mb-5">
    <div class="row mt-3">
        <div class="col text-dark text-right">
            <h5 class="text-primary font-weight-bold">BENJAMIN HOLMES</h5>
        </div>
    </div>
    <div class="row">
        <div class="col text-dark text-right">
            <hr class="my-1 bg-primary" />
            <h6 class="font-weight-bold my-2 hyphen-wrap-off"><a class="text-dark" href="https://www.linkedin.com/in/bholmes111/">Linkedin.com/in/bholmes111</a> | Hockessin, DE | <nobr>814-880-5666 |</nobr> <a class="text-dark" href="mailto:bholmes111@gmail.com">bholmes111@gmail.com</a></h6>
        </div>
    </div>
    <div class="row">
        <div class="col text-dark">
            <p class="font-weight-bold mt-4 mb-1">TECHNICAL LEADER | FINANCE | INVESTMENTS | SOFTWARE ENGINEERING</p>
            <p>Productive hands-on technical leader experienced in multiple computing disciplines, primarily within the Microsoft stack. Adept at developing applications, improving processes and enhancing platform capabilities. Solid understanding of software development lifecycle (SDLC) methodologies. A servant leader, I am empathetic towards the needs of my team, encouraging growth, trust and awareness.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-4 text-dark">
            <p class="font-weight-bold mt-4">Developer Experience</p>
        </div>
        <div class="col-8 text-dark">
            <p class="mt-4">C#, .NET, SQL, JSON, XML, RESTful services, HTML, ASP, MVC, Java, JavaScript, TypeScript, Visualforce, VB.NET, C++</p>
        </div>
    </div>
    <div class="row">
        <div class="col-4 text-dark">
            <p class="font-weight-bold">Databases</p>
        </div>
        <div class="col-8 text-dark">
            <p>Microsoft SQL Server, Oracle, Pervasive Btrieve, MongoDB</p>
        </div>
    </div>
    <div class="row">
        <div class="col-4 text-dark">
            <p class="font-weight-bold">Software & Tools</p>
        </div>
        <div class="col-8 text-dark">
            <p>Microsoft Visual Studio, Visual Studio Code, SQL Server Management Studio, SS&C VisionFI (Varden) reporting platform, Spring Tool Suite, Jenkins, Grails, SqlDbx, Splunk, Bitbucket, Git, SVN, Jira, Confluence, Salesforce, Denodo</p>
        </div>
    </div>
    <div class="row">
        <div class="col-4 text-dark">
            <p class="font-weight-bold">Systems Experience</p>
        </div>
        <div class="col-8 text-dark">
            <p>Microsoft Active Directory, Microsoft Windows Server, Microsoft SQL Server, IIS, Unix, Apache</p>
        </div>
    </div>
    <div class="row">
        <div class="col text-dark">
            <p class="font-weight-bold mt-4 mb-1">PROFESSIONAL EXPERIENCE</p>
        </div>
    </div>
    <div class="row">
        <div class="col-8 text-dark">
            <p class="font-weight-bold mb-1">Invesco, formerly OppenheimerFunds, Inc.</p>
        </div>
        <div class="col-4 text-dark">
            <p class="font-weight-bold text-right mb-1">06/1998 - 09/2019</p>
        </div>
    </div>
    <div class="row">
        <div class="col text-dark">
            <p class="mb-3">OppenheimerFunds, Inc. was a global asset manager with more than $200 billion in assets. In May 2019, the company was acquired by Invesco.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-8 text-dark">
            <p class="font-weight-bold mt-1 mb-2">Manager Solutions Engineering, New York, NY, Virtual</p>
        </div>
        <div class="col-4 text-dark">
            <p class="font-weight-bold mt-1 mb-2 text-right">06/2016 - 09/2019</p>
        </div>
    </div>
    <div class="row">
        <div class="col text-dark">
            <p class="mb-1">Hands-on manager of a team of up to 14 developers responsible for creating and maintaining automated client, sales and marketing reports.</p>
            <ul>
                <li>Coordinated across five cross-functional teams within an Agile environment in which I interacted with Business Analysts, Quality Assurance, business stakeholders and service providers.</li>
                <li>Participated in strategic decision making for the enterprise client reporting platform, which included resource management, technical solutions and demand prioritization.</li>
                <li>Coordinated training and provided guidance and mentoring. Led daily standup meetings and held weekly one-on-one, quarterly performance review and year-end evaluations.</li>
                <li>Devised and oversaw the creation of a client reporting toolkit which empowers business users to perform automated report configuration tasks. Related developer tasks were greatly reduced or eliminated, time to completion improved from 1-2 weeks to minutes.</li>
                <li>Created services for the client reporting toolkit middle-tier Spring Boot API.</li>
                <li>Incorporated Splunk dashboards to analyze reporting service and error logs, reduced time to resolution for troubleshooting failures and performance issues.</li>
                <li>Implemented improved logging, logic consistency, error handling and documentation processes for stored procedures, functions and services.</li>
                <li>Developed innovative solutions to complex requirements on both front-end and back-end.</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-8 text-dark">
            <p class="font-weight-bold mt-2 mb-2">Lead Solutions Technologist, Bellefonte, PA, Virtual</p>
        </div>
        <div class="col-4 text-dark">
            <p class="font-weight-bold mt-2 mb-2 text-right">08/2014 - 06/2016</p>
        </div>
    </div>
    <div class="row">
        <div class="col text-dark">
            <p class="mb-1">Led development and refactoring efforts across multiple enterprise platforms.</p>
            <ul>
                <li>Led creation and delivery of automated reports using SS&C VisionFI, C#, MS SQL, Oracle.</li>
                <li>Created services used by the reporting platform API within Grails and Denodo.</li>
                <li>Identified and communicated suggested enhancements to the reporting process.</li>
                <li>Refactored existing dynamic commentary parser into an improved SQL CLR version.</li>
                <li>Trained new team members on report development.</li>
                <li>Migrated the in-house Product Information System to the Microsoft .NET Framework in under three months, met deadlines in a time-sensitive, high visibility project.</li>
                <li>Developed a robust process to translate security IDs within the Enterprise Security Master platform and initiated data consistency checks.</li>
                <li>Engineered routines to integrate a recently acquired company into institutional client and invoicing systems.</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-8 text-dark">
            <p class="font-weight-bold mt-2 mb-2">Assistant Vice-President - Tech Manager Systems Development, Bellefonte, PA</p>
        </div>
        <div class="col-4 text-dark">
            <p class="font-weight-bold mt-2 mb-2 text-right">10/2004 - 08/2014</p>
        </div>
    </div>
    <div class="row">
        <div class="col text-dark">
            <p class="mb-1">Provided next generation solutions to transform legacy systems as application developer and system administrator.</p>
            <ul>
                <li>Developed a report generation process to directly output highly customizable Microsoft Office PowerPoint and Excel Open XML documents.</li>
                <li>Enhanced Enterprise Fund Master application and trained new team of developers.</li>
                <li>Implemented custom Visualforce solutions for the enterprise Salesforce application.</li>
                <li>Created C# and VB.net WinForms applications for accounting, data collection, portfolio management, research and trading departments.</li>
                <li>Migrated Btrieve databases to SQL and configured nightly update processes.</li>
                <li>Migrated legacy VB and C++ applications to the .NET Framework.</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-8 text-dark">
            <p class="font-weight-bold mt-2 mb-0">Network Manager, Bellefonte, PA</p>
        </div>
        <div class="col-4 text-dark">
            <p class="font-weight-bold mt-2 mb-0 text-right">01/2004 - 10/2004</p>
        </div>
    </div>
    <div class="row">
        <div class="col-8 text-dark">
            <p class="font-weight-bold mb-0">Programmer Analyst II, Bellefonte, PA</p>
        </div>
        <div class="col-4 text-dark">
            <p class="font-weight-bold mb-0 text-right">02/2001 - 01/2004</p>
        </div>
    </div>
    <div class="row">
        <div class="col-8 text-dark">
            <p class="font-weight-bold mb-2">Systems Analyst, Bellefonte, PA</p>
        </div>
        <div class="col-4 text-dark">
            <p class="font-weight-bold mb-2 text-right">06/1998 - 02/2001</p>
        </div>
    </div>
    <div class="row">
        <div class="col text-dark">
            <p class="mb-1">Provided next generation solutions to transform legacy systems as application developer and system administrator.</p>
            <ul>
                <li>Administered Microsoft SQL Server security, database design, hardware configuration and backup.</li>
                <li>Administered Active Directory domain policy, DNS, DHCP, user and computer objects.</li>
                <li>Created applications using C++, Visual Basic 6, C# and VB.NET.</li>
                <li>Designed and maintained several web sites within Apache and IIS.</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col text-dark">
            <p class="font-weight-bold mt-4 mb-1">EDUCATION</p>
            <p class="font-weight-bold mb-3">1998 Bachelor of Science (BS), Computer Engineering, Pennsylvania State University, State College, PA</p>
        </div>
    </div>
</div>
