
@{
    ViewData["Title"] = "Benjamin Holmes - Resume";
}

<div class="container-fluid border-0 mx-auto w-sm-100 w-md-75 w-lg-75 w-xl-75">
    <a class="btn btn-sm btn-secondary" href="~/documents/Ben_Holmes_resume.pdf" target="_blank">Download PDF</a>
</div>
<div class="container-fluid border mx-auto w-sm-100 w-md-75 w-lg-75 w-xl-75 justify-content-center bg-white mt-2 mb-5">
    <div class="row mt-3">
        <div class="col text-dark text-right">
            <h5 class="text-primary font-weight-bold">BENJAMIN HOLMES</h5>
        </div>
    </div>
    <div class="row">
        <div class="col text-dark text-right">
            <hr class="my-1 bg-primary" />
            <h6 class="font-weight-bold my-2" style="hyphens: none"><a class="text-dark" href="https://www.linkedin.com/in/bholmes111/">Linkedin.com/in/bholmes111</a> | Hockessin, DE | 814-880-5666 | <a class="text-dark" href="mailto:bholmes111@gmail.com">bholmes111@gmail.com</a></h6>
        </div>
    </div>
    <div class="row">
        <div class="col text-dark">
            <p class="font-weight-bold mt-4 mb-1">TECHNICAL LEADER | FINANCE | INVESTMENTS | SOFTWARE ENGINEERING</p>
            <p>Productive technical leader in finance and investments, primarily with Invesco, formerly Oppenheimer Funds, Inc., within high request volume, short turnaround environment. Adept at improving processes and enhancing platform capabilities. Broad understanding of financial application and reporting development across multiple computing disciplines.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-4 text-dark">
            <p class="font-weight-bold mt-4">Developer Experience</p>
        </div>
        <div class="col-8 text-dark">
            <p class="mt-4">C#, .NET, SQL, JSON, XML, RESTful services, HTML, ASP, MVC, Java, JavaScript, TypeScript, VisualForce, VB.NET, C++</p>
        </div>
    </div>
    <div class="row">
        <div class="col-4 text-dark">
            <p class="font-weight-bold">Databases</p>
        </div>
        <div class="col-8 text-dark">
            <p>Microsoft SQL Server, Oracle, Pervasive Btrieve, MongoDB</p>
        </div>
    </div>
    <div class="row">
        <div class="col-4 text-dark">
            <p class="font-weight-bold">Software & Tools</p>
        </div>
        <div class="col-8 text-dark">
            <p>Microsoft Visual Studio, Visual Studio Code, SQL Server Management Studio, Spring Tool Suite, Grails, SqlDbx, Splunk, Bitbucket, Git, SVN, Jira, Confluence, SalesForce, Jenkins, Denodo</p>
        </div>
    </div>
    <div class="row">
        <div class="col-4 text-dark">
            <p class="font-weight-bold">Systems Experience</p>
        </div>
        <div class="col-8 text-dark">
            <p>Microsoft Active Directory, Microsoft Windows Server, Microsoft SQL Server, IIS, Unix, Apache</p>
        </div>
    </div>
    <div class="row">
        <div class="col text-dark">
            <p class="font-weight-bold mt-4 mb-1">PROFESSIONAL EXPERIENCE</p>
        </div>
    </div>
    <div class="row">
        <div class="col-8 text-dark">
            <p class="font-weight-bold">Invesco, formerly OppenheimerFunds, Inc., Virtual</p>
        </div>
        <div class="col-4 text-dark">
            <p class="font-weight-bold text-right">10/2004 - 10/2019</p>
        </div>
    </div>
    <div class="row">
        <div class="col-8 text-dark">
            <p class="font-weight-bold mt-1 mb-2">Manager Solutions Engineering</p>
        </div>
        <div class="col-4 text-dark">
            <p class="font-weight-bold mt-1 mb-2 text-right">01/2017 - 10/2019</p>
        </div>
    </div>
    <div class="row">
        <div class="col text-dark">
            <p class="mb-1">Manage a team of eight developers responsible for creating and maintaining automated client, sales and marketing reports. Actively code solutions within this space.</p>
            <ul>
                <li>Coordinate across five cross-functional teams within an Agile environment.</li>
                <li>Participate in strategic decision making for the client reporting platform, which includes resource management, technical solutions and demand prioritization.</li>
                <li>Devised and oversaw the creation of a client reporting toolkit which empowers business users to perform automated report configuration tasks. Related developer tasks greatly reduced or eliminated, improved time to completion from 1-2 weeks to minutes.</li>
                <li>Created services for the client reporting toolkit middle-tier Spring Boot application.</li>
                <li>Incorporated Splunk dashboards to analyze reporting service and error logs, reduced time to resolution for troubleshooting failures and performance issues.</li>
                <li>Implemented improved logging, logic consistency, error handling and documentation processes.</li>
                <li>Developed innovative solutions to complex functional requirements.</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-8 text-dark">
            <p class="font-weight-bold mt-2 mb-2">Lead Solutions Technologist</p>
        </div>
        <div class="col-4 text-dark">
            <p class="font-weight-bold mt-2 mb-2 text-right">08/2014 - 01/2017</p>
        </div>
    </div>
    <div class="row">
        <div class="col text-dark">
            <p class="mb-1">Led development and refactoring efforts across multiple enterprise platforms.</p>
            <ul>
                <li>Led creation and delivery of automated reports using SS&C VisionFI, C#, MS SQL, Oracle.</li>
                <li>Created services used by the reporting platform within Grails and Denodo.</li>
                <li>Identified and communicated suggested enhancements to the reporting process.</li>
                <li>Refactored existing dynamic commentary parser into an improved SQL CLR version.</li>
                <li>Trained new team members on report development.</li>
                <li>Migrated the in-house Product Information System to the Microsoft .NET Framework in under three months, met deadlines in a time-sensitive, high visibility project.</li>
                <li>Developed a robust process to translate security IDs within the Enterprise Security Master platform and initiated data consistency checks.</li>
                <li>Engineered routines to integrate a recently acquired company into institutional client and invoicing systems.</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-8 text-dark">
            <p class="font-weight-bold mt-2 mb-2">Assistant Vice-President (AVP) - Tech Manager Systems Development</p>
        </div>
        <div class="col-4 text-dark">
            <p class="font-weight-bold mt-2 mb-2 text-right">10/2004 - 08/2014</p>
        </div>
    </div>
    <div class="row">
        <div class="col text-dark">
            <p class="mb-1">Provided next generation solutions to transform legacy systems as application developer and system administrator.</p>
            <ul>
                <li>Developed a report generation process to directly output highly customizable Microsoft Office PowerPoint and Excel Open XML documents.</li>
                <li>Enhanced Enterprise Fund Master application and trained new team of developers.</li>
                <li>Implemented custom Visualforce solutions for the enterprise Salesforce application.</li>
                <li>Administered and developed for 2 web sites using HTML, JavaScript and Java.</li>
                <li>Migrated Btrieve databases to SQL and configured nightly update processes.</li>
                <li>Migrated legacy VB and C++ applications to the .NET Framework.</li>
                <li>Administered Microsoft SQL Server security, database design, hardware configuration and backup.</li>
                <li>Administered Active Directory domain policy, DNS, DHCP, user and computer objects.</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col text-dark">
            <p class="font-weight-bold mt-4 mb-1">EDUCATION</p>
            <p class="font-weight-bold mb-3">Bachelor of Science (BS), Computer Engineering, Pennsylvania State University, State College, PA</p>
        </div>
    </div>
</div>